.backButtonContainer {
    top: 0;
    position: fixed;
    right: 0;
    margin-right: 2vw;
    z-index: 99;
}

.backButtonContainer i {
    font-size: 3vh;
    color: white;
}

.container {
    background: #F4F3F3;
    height: 100vh;
}


.plan_logo_container img {
    width: 14vh;
    height: 14vh;
    box-shadow: 0px 6px 6px 6px #00000040;
}

.section_1 {
    background-color: rgb(255, 123, 0);
    height: 27vh;
    padding-top: 1vh;
}

.section_1>p {
    text-align: center;
}

.section_1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: white;
}

.section_1_1 {
    padding-top: 3vh;
    padding-left: 2vh;
}

.section_1_1>div {
    display: flex;
    align-items: center;
}

.plan_details {
    padding-left: 3vh;
}

.plan_details .head {
    font-size: 3vh;
}


.plan_details>.more_details p {
    font-size: 1.4vh;
}

.section_2 {
    padding: 2vh;
}

.section_2>div {
    background-color: white;
    border-radius: 1vh;
    padding: 3vh;
}

.section_2 .paragraphs div {
    display: flex;
    justify-content: space-between;
}

.section_3 {
    padding: 2vh;
    padding-top: 0;
}

.section_3>div {
    background-color: white;
    border-radius: 1vh;
    padding: 3vh;
    height: 43vh;
}

.section_3 .heading {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.section_4_1 {
    height: 35vh;
    overflow: auto;
    overflow-x: hidden;
}


@keyframes move-up {
    0% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(0px);
    }

}

.transaction_row {
    animation-name: move-up;
    animation-duration: 2s;
    width: 100%;
    height: 7vh;
    margin-top: 0.8vh;
    border-radius: 1.3vh;
}

.transaction_container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.transaction_profile {
    height: 100%;
    width: 15%;
}

.transaction_profile img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5vh;
    width: 5vh;
}

.transaction_detail {
    height: 100%;
    width: 70%;
}

.transaction_detail>div {
    height: 100%;
    margin-left: 2vw;

}



.transaction_detail p {
    font-size: 1.8vh;
    margin: 0;
}

.transaction_reason {
    color: gray;
}

.section_5 {
    background-color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 8vh;
}

.section_5>div {
    display: flex;
    height: 100%;
}

.balance_container,
.button_container {
    display: flex;
    width: 50%;
}

.balance_container {
    align-items: center;
    padding-left: 4vh;
}

.button_container {
    align-items: center;
    justify-content: flex-end;
    padding-right: 2vh;
}

.invest_button button {
    width: 160px;
    height: 38px;
    left: 202px;
    top: 792px;
    border: 0;
    background: #E45200;
    border-radius: 5px;
    color: white;
}