.container {
    font-family: Poppins;
    letter-spacing: 0em;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background-color: rgb(249 233 233);
}

.header p {
    font-weight: 600;
    color: #383838;
}

.section_1 {
    background: #FF6108;
    height: 5vh;
    display: flex;
    align-items: center;
}

.section_1 p {
    text-align: left;
    color: white;
    font-weight: 500;
    margin-left: 2vw;
}

.plans_container {
    height: 82vh;
    background: #EFEFEF;
    overflow: auto;
}

.plan_container {
    min-height: 18vh;
}

.plan_container_2 {
    padding: 2vh;
    display: flex;
    align-items: center;
}

.plan_logo_container img {
    width: 11vh;
    height: 11vh;
    max-width: 100%;
    max-height: 100%;
}

.plan_details_container {
    padding: 0vw 2vw 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.plan_name {
    font-weight: 600;
    font-size: 16px;
}

.plan_prices {
    font-weight: 600;
    font-size: 4vw;
    color: #F25B0F;
}

.plan_container hr {
    border: 1px dashed #C8C3C3;
}

/* Responsive Modifications */

@media (min-width: 768px) {
    .header p {
        font-size: 14px;
    }

    .section_1 p {
        font-size: 12px;
    }

    .plan_container_2 {
        flex-wrap: wrap;
    }

    .plan_details_container {
        width: 70%;
        padding: 2vh;
    }

    .plan_name {
        font-size: 16px;
    }

    .plan_prices {
        font-size: 2vw;
    }
}